doom_scenario_path = deathmatch_simple.wad

# 2 minutes 30 seconds
episode_timeout = 5250
death_penalty = 0
living_reward = 0

# Rendering options
screen_resolution = RES_320X240
screen_format = RGB24
render_hud = true
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false

window_visible = true

# Available buttons
available_buttons = 
	{
		ATTACK

        MOVE_FORWARD
        MOVE_LEFT
        MOVE_RIGHT

        TURN_RIGHT
        TURN_LEFT
	}

mode = PLAYER

